<div style="margin-top:2em">
    <h3>Sorry @Html.Raw(ViewBag.FirstName) but we aren't going to do business with your bank statement looking like that!</h3>
    <h4>Reason: @Html.Raw(ViewBag.RejectReason)</h4>
</div>