@{
    ViewData["Title"] = "Hi there...";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Porcine Way<br />
    Porktown, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    55555555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@piggy-bank.co">Support@piggy-bank.co</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@piggy-bank.co">Marketing@piggy-bank.co</a><br />
    <strong>Security:</strong> <a href="mailto:Security@piggy-bank.co">Security@piggy-bank.com</a>
</address>
