@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/piggy-bank-co-splash.png" alt="ASP.NET" class="img-responsive" />
            <div >
                <p>
                   Your security is our highest priority 
                </p>
            </div>
        </div>
    </div>
</div>
</div>
